{% extends 'layout.html' %}
{% block content %}

    {% include 'fight/partial_view_player.html'%}
    <a href="arena">
        <button class="btn btn_attack">walcz na arenie</button>
    </a>
    <a href="/player/{{p.id}}/shop">
        <button class="btn btn_attack">Sklep</button>
    </a>
    <a href="regen/{{pay}}">
         <button class="btn btn_attack">Regeneruj za {{pay}} gold.</button>
    </a>
    <hr/>
    <p style="margin-top: 20px"><a href="/menu">Wroc do menu</a></p>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$( document ).ready(function() {
    var player_exp  = {{p.experience}} * 100 / {{p.requiredexp}}
    var player_mana  = {{mana}};
    var player_health  = {{health}};

    $("#player-exp").attr("aria-valuenow", player_exp  + "%");
    $("#player-exp").css("width", function(){ return ($(this).attr('aria-valuenow'),player_exp +'%')});

    $("#player-mana").css("width", player_mana + "%");
    $("#player-mana").attr("aria-valuenow", player_mana + "%");

    $("#player-health").attr("aria-valuenow", player_health + "%");
    $("#player-health").css("width", function(){ return ($(this).attr('aria-valuenow'),player_health+'%')});
});
</script>

{% endblock %}