{% extends 'layout.html' %}
{% block content %}
    <div id="this">
        {% include 'shop/regen.html'%}
    </div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$( document ).ready(function() {
    var player_exp  = {{p.experience}} * 100 / {{p.requiredexp}}
    var player_mana  = {{mana}};
    var player_health  = {{health}};

    $("#player-exp").attr("aria-valuenow", player_exp  + "%");
    $("#player-exp").css("width", function(){ return ($(this).attr('aria-valuenow'),player_exp +'%')});

    $("#player-mana").css("width", player_mana + "%");
    $("#player-mana").attr("aria-valuenow", player_mana + "%");

    $("#player-health").attr("aria-valuenow", player_health + "%");
    $("#player-health").css("width", function(){ return ($(this).attr('aria-valuenow'),player_health+'%')});
});


function Regen() {

    var p = "{{p.name}}";
    $.ajax({
            url: '/reg',
            type: 'get',
            data: {'p': p },
            success: function(data) {
                $('#this').html(data);
            },
            failure: function(data) {
                alert('Got an error dude');
            }
    });
}
</script>

{% endblock %}