{% extends 'layout.html' %}
{% block content %}
    <div class="add_player_title">
        Wybierz przeciwnika:
    </div>
    <hr/>
    <a href="arenalevel/{{ee}}">
        <button type="button" class="btn btn_attack">{{ee}}</button>
    </a>
    <a href="arenalevel/{{me}}">
        <button type="button" class="btn btn_attack">{{me}}</button>
    </a>
    <a href="arenalevel/{{he}}">
        <button type="button" class="btn btn_attack">{{he}}</button>
    </a>
<p style="margin-top: 20px"><a href="/player/{{p.id}}">Wroc do statystyk</a></p>
{% endblock %}