{% extends "layout.html" %}
{% block title %}Arena{% endblock %}
{% block content %}


    <div class="col-md-4">
        <div class="bg_player" style="padding: 15px;">
            <div id="ref_player">
                {% include 'fight/partial_view_player.html'%}
            </div>
                <div class="player_special_attack">
                        <div class="btn-group">
                            <button type="button" class="btn btn_attack">Zaatakuj przeciwnika</button>
                            <button type="button" class="btn btn_attack dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for item in attack %}
                                <li>
                                    <button type="button" class="btn btn_special_attack" onclick="Attack('{{item}}')">
                                        {{item.name}}: Poziom-{{item.requiredlv}} Mana-{{item.requiredmana}}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    <div class="col-md-4" id="ref_consol">
        {% include 'fight/partial_view_console_log.html' with player=p enemy=e%}
    </div>
    <div class="col-md-4">
        <div class="bg_player" id="ref_enemy" style="padding: 15px;">
            {% include 'fight/partial_view_enemy.html'%}
        </div>
    </div>
</div>

<script>
    function Attack(attack) {

    var p = "{{p.name}}";
    var e = "{{e.name}}";
    var s = attack;

    $.ajax({
        url: '/attack',
        type: 'get',
        data: {'player': p, 'enemy': e, "special": s},
        success: function(data) {
            $('#ref_enemy').html(data);
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
}
</script>
{% endblock %}
