{% load staticfiles %}

    <div class="player_portrait">
        {%if p.classname|stringformat:"s"  == "Warrior"%}
            <img src="{% static 'css/content/warrior.jpg' %}" height="100%", width="100%">
        {%elif p.classname|stringformat:"s"  == "Thief"%}
            <img src="{% static 'css/content/thief.jpg' %}" height="100%", width="100%">
        {%elif p.classname|stringformat:"s"  == "Tankozord"%}
            <img src="{% static 'css/content/tank.jpg' %}" height="100%", width="100%">
        {% endif %}
    </div>
    <div class="player_name">
        {{p.name}}
    </div>
    <div class="player_stats">
        <div class="column_left">
            <p>poziom:</p>
            <p>atak:</p>
            <p>sila:</p>
            <p>zrecznosc:</p>
            <p>pancerz:</p>
            <p>zloto:</p>
        </div>
        <div class="column_right">
            <p>{{p.level}}</p>
            <p>{{p.attack}}</p>
            <p>{{p.strength}}</p>
            <p>{{p.agility}}</p>
            <p>5</p>
            <p>{{p.gold}}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="progress">
        <div id="player-health" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            {{p.health}}/{{p.maxhealth}}
        </div>
    </div>
    <div class="progress">
        <div id="player-mana" class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            {{p.mana}}/{{p.maxmana}}
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress_bar_level" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            {{p.experience}}/{{p.requiredexp}}
        </div>
    </div>

<script>
$(document).ready(function() {
    var player_mana  = {{mana}};
    var player_health  = {{health}};

    $("#player-mana").css("width", player_mana + "%");
    $("#player-mana").attr("aria-valuenow", player_mana + "%");

    $("#player-health").attr("aria-valuenow", player_health + "%");
    $("#player-health").css("width", function(){ return ($(this).attr('aria-valuenow'),player_health+'%')});

    var p = "{{p.name}}"
    var e = "{{e.name}}";

    $.ajax({
        url: '/console_log',
        type: 'get',
        data: {'player': p, 'enemy': e},
        success: function(data) {
            $('#ref_consol').html(data);
        },
        failure: function(data) {
            alert('Got an error dude');
        }
    });
});
</script>