{% load staticfiles %}

    <div class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{player}} atakuje {{enemy}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Zadane obrażenia:</p>
            </div>
            <div class="column_right">

            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div style="margin: 27px; text-align: center; opacity:0.3;">
        <img src="{% static 'css/content/sword.png' %}" height="10%", width="30%">
    </div>

    <div class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{enemy}} atakuje {{player}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Zadane obrażenia:</p>
            </div>
            <div class="column_right">

            </div>
            <div class="clear"></div>
        </div>
    </div>