{% load staticfiles %}

    <div id="console-player" class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{player}} atakuje {{enemy}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Zadane obrażenia:</p>
            </div>
            <div class="column_right">
                {% for item in log %}
                    {% if item.playerdamage == 0%}
                        <p>Chybił</p>
                    {% else%}
                        <p>{{item.playerdamage}}</p>
                    {% endif%}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div style="margin: 27px; text-align: center; opacity:0.3;">
        <img src="{% static 'css/content/sword.png' %}" height="10%", width="30%">
    </div>

    <div id=console-enemy" class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{enemy}} atakuje {{player}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Zadane obrażenia:</p>
            </div>
            <div class="column_right">
                {% for item in log %}
                    {% if item.enemydamage == 0%}
                        <p>Chybił</p>
                    {% else%}
                        <p>{{item.enemydamage}}</p>
                    {% endif%}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
    $("#console-player").scrollTop($("#console-player")[0].scrollHeight);
    $("#console-enemy").scrollTop($("#console-enemy")[0].scrollHeight);
});
</script>