{% load staticfiles %}

    <div id="console-player" class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{player}} atakuje {{enemy}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Obrażenia:</p>
            </div>
            <div class="column_right">
                {% for item in log %}
                    {% if "%" in item.player_attack_name %}
                        <p class="green">
                            przywrocono {{item.player_attack_name}}
                        </p>
                    {% elif item.playerdamage == 0%}
                        <p>Chybił</p>
                    {% else%}
                        {% if item.player_attack_name != "Standard Attack"%}
                            {% if item.player_bonus_attack != 0%}
                            <div class="red">
                                <p>
                                    {{item.player_attack_name}}: {{item.playerdamage}} + {{item.player_bonus_attack}}
                                </p>
                            </div>
                            {% else%}
                            <div class="red">
                                <p>
                                    {{item.player_attack_name}}: {{item.playerdamage}}
                                </p>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if item.player_bonus_attack != 0%}
                            <p>
                                {{item.player_attack_name}}: {{item.playerdamage}} +
                                <span class="red">
                                    {{item.player_bonus_attack}}
                                </span>
                            </p>
                            {% else%}
                                <p>
                                    {{item.player_attack_name}}: {{item.playerdamage}}
                                </p>
                            {% endif %}
                        {% endif%}
                    {% endif%}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div style="margin: 27px; text-align: center; opacity:0.3;">
        <img src="{% static 'css/content/sword.png' %}" height="10%", width="30%">
    </div>

    <div id="console-enemy" class="console_log">
        <div class="console_log_title">
            <div style="text-align: center;">
                {{enemy}} atakuje {{player}}
            </div>
        </div>
        <div class="console_log_info">
            <div class="column_left">
                <p>Obrażenia:</p>
            </div>
            <div class="column_right">
                {% for item in log %}
                    {% if "%" in item.enemy_attack_name %}
                        <p class="green">
                            przywrocono {{item.enemy_attack_name}}
                        </p>
                    {% elif item.enemydamage == 0%}
                        <p>Chybił</p>
                    {% else%}
                         {% if item.enemy_attack_name != "Standard Attack"%}
                            {% if item.enemy_bonus_attack != 0%}
                            <div class="red">
                                <p>
                                    {{item.enemy_attack_name}}: {{item.enemydamage}} + {{item.enemy_bonus_attack}}
                                </p>
                            </div>
                            {% else %}
                            <div class="red">
                                <p>
                                    {{item.enemy_attack_name}}: {{item.enemydamage}}
                                </p>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if item.enemy_bonus_attack != 0%}
                            <p>
                                {{item.enemy_attack_name}}: {{item.enemydamage}} +
                                 <span class="red">
                                    {{item.enemy_bonus_attack}}
                                </span>
                            </p>
                            {% else %}
                            <p>
                                {{item.enemy_attack_name}}: {{item.enemydamage}}
                            </p>
                            {% endif%}
                        {% endif%}
                    {% endif%}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
    $("#console-player").scrollTop($("#console-player")[0].scrollHeight);
    $("#console-enemy").scrollTop($("#console-enemy")[0].scrollHeight);
});
</script>