{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<div id="this">
    <div class="add_player_title">
        Witaj u Alchemika
    </div>
    <hr/>
        <div class="col-md-6">
            {% for elixir in elixirs %}
                <div class="shop">
                    <div class="column_left">
                        <div class="armor_img">
                            {%if item.value  == 20%}
                                <img src="{% static 'css/content/armor1.jpg' %}" height="100%", width="100%">
                            {%elif item.value  == 95%}
                                <img src="{% static 'css/content/armor2.jpg' %}" height="100%", width="100%">
                            {%elif item.value  == 264%}
                                <img src="{% static 'css/content/armor3.jpg' %}" height="100%", width="100%">
                            {%else%}
                                <img src="{% static 'css/content/armor4.jpg' %}" height="100%", width="100%">
                            {%endif%}
                        </div>
                    </div>
                    <div class="armor_info">
                        {{ item.name }} <br />
                        Przywraca: {{ item.health_restore }} zdrowia i many<br />
                        cena: {{ item.price}}<br />
                        {% if p.gold < item.price or p.level < item.requiredlv  %}
                            <div class="red">nie mozesz kupic tego przedmiotu</div>
                        {% elif p.armorid == item %}
                            <div class="green">posiadasz ten przedmiot</div>
                        {% else %}
                            <a onclick="Buy('{{item}}', {{item.price}})">Kup</a>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
    <div class="clear"></div>
    <hr/>
    <a href="/player/{{p.id}}/">
        Wroc do statystyk
    </a>
</div>

<script>
function Buy(name, price) {

    var player = "{{p.name}}";
    var i = name
    if(price <= {{p.gold}}){
        $.ajax({
                url: '/buy',
                type: 'get',
                data: {'p': player, 'i': i },
                success: function(data) {
                    $('#this').html(data);
                },
                failure: function(data) {
                    alert('Got an error dude');
                }
        });
    }
}
</script>

{% endblock %}