{% extends "layout.html" %}

{% block title %}Example{% endblock %}

{% block content %}
<table>
    <tr>
        <td>
            Ex1
        </td>
        <td>
            Ex2
        </td>
        <td>
            Ex3
        </td>
    </tr>
    <tr>
        <td>
            Ex4
        </td>
        <td>
            Ex5
        </td>
        <td>
            Ex6
        </td>
    </tr>
</table>

<table>
    <tr>
        {% for item in example %}
            <td>{{ item }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for item in example %}
            <td>{{ item }}</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}