{% extends 'layout.html' %}
{% block content %}

	<div class="add_player_title">
		Stwórz nowego bohatera:
	</div>
	<hr/>
	<form method="post">
	  <div class="form-group">
		  {% csrf_token %}
		<label>Podaj nazwę:</label>
		<input type="text" class="form-control" name="name" placeholder="e.g. Peace Maker">
	  </div>
		 <div class="radio">
	  <label><input type="radio" name="choice"  value="Warrior">Warrior</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="choice" value="Thief">Thief</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="choice" value="Tankozord">Tankozord</label>
		</div>
		<button type="submit" class="btn btn_attack">Stwórz bohatera</button>
	</form>
		<p><a href="/menu/menu">Wróc do menu</a></p>

{% endblock %}
