{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

    <div class="add_player_title">
        Wybierz interesujacego Cie bohatera:
    </div>

    <hr/>
    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="">
            <div class="player_portrait">
                <img src="{% static 'css/content/warrior.jpg' %}" height="100%", width="100%">
            </div>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Warrior" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p.id}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="">
            <div class="player_portrait">
                <img src="{% static 'css/content/thief.jpg' %}" height="100%", width="100%">
            </div>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Thief" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p.id}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="">
            <div class="player_portrait">
                <img src="{% static 'css/content/tank.jpg' %}" height="100%", width="100%">
            </div>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Tankozord" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p.id}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <hr/>
    <p style="margin-top: 20px"><a href="/menu">Wroc do menu</a></p>
{% endblock %}