{% extends 'layout.html' %}
{% block content %}

    <div class="add_player_title">
        Wybierz interesującego Cię bohatera:
    </div>

    <hr/>
    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="">
            <p><h4>Wojownik:</h4></p>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Warrior" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="Łotrzyk">
            <p><h4>Łotrzyk:</h4></p>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Thief" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="">
            <p><h4>Tank:</h4></p>
            {% for p in players %}
                {% if p.classname|stringformat:"s"  == "Tankozord" %}
                <button type="button" class="btn btn_attack" onclick="location.href='/player/{{p}}'">
                    {{p}}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <p style="margin-top: 20px"><a href="/menu/menu">Wróc do menu</a></p>
{% endblock %}