{% extends 'layout.html' %}
{% block content %}

    <div class="logo">
        Starcie Tytanow
        <div class="mini_logo">Walcz na arenie o honor wojownika</div>
    </div>
    <div class="center">
        <a href="/menu/create">
            <button type="button" class="btn btn_attack">Stworz nowego bohatera</button>
        </a>
        <a href="/menu/load">
            <button type="button" class="btn btn_attack">Wczytaj istniejacego bohater</button>
        </a>
    </div>

{% endblock %}